/*CUSTOM PROPERTIES*/
:root{
    /*Site Colors*/
   --Light-red:hsl(356, 100%, 66%);
   --Very-light: rgb(255, 122, 133);
   --Very-dark-blue: hsl(208, 49%, 24%);
    --White-text: hsl(0, 0%, 100%);
    --Grayish-blue-footer-text: hsl(240, 2%, 79%);
    --Very-dark-grayish-blue: hsl(207, 13%, 34%);
    --Very-dark-black-blue: hsl(240, 10%, 16%);
    /* GRADIENTS*/
    --Very-dark-gray-blue: hsl(237, 17%, 21%);
    --Very-dark-desaturated-blue: hsl(237, 23%, 32%);

}

/*WEB FONTS RELATED*/
/* overpass-300 - latin */
@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/overpass-v5-latin-300.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/overpass-v5-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/overpass-v5-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/overpass-v5-latin-300.woff') format('woff'), /* Modern Browsers */
         url('../fonts/overpass-v5-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/overpass-v5-latin-300.svg#Overpass') format('svg'); /* Legacy iOS */
  }
  /* overpass-600 - latin */
  @font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/overpass-v5-latin-600.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/overpass-v5-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/overpass-v5-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/overpass-v5-latin-600.woff') format('woff'), /* Modern Browsers */
         url('../fonts/overpass-v5-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/overpass-v5-latin-600.svg#Overpass') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-regular - latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v15-latin-regular.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-v15-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v15-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v15-latin-regular.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v15-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v15-latin-regular.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-500 - latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ubuntu-v15-latin-500.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-v15-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v15-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v15-latin-500.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v15-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v15-latin-500.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }
  /* ubuntu-700 - latin */
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ubuntu-v15-latin-700.eot'); /* IE9 Compat Modes */
    src: local(''),
         url('../fonts/ubuntu-v15-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/ubuntu-v15-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/ubuntu-v15-latin-700.woff') format('woff'), /* Modern Browsers */
         url('../fonts/ubuntu-v15-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../fonts/ubuntu-v15-latin-700.svg#Ubuntu') format('svg'); /* Legacy iOS */
  }

/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family:"Ubuntu","Arial",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color:var(--Very-dark-black-blue);
}
.container{
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/*PAGE-HEADER*/
.page-header{
   background: url(../images/bg-pattern-intro.svg);
   background-repeat: no-repeat;
   background-color:var(--Light-red);
   background-position: 30% 51%;
   border-radius:0 0 0 150px;
}
.page-header__container{
  display: flex;
  align-items: center;
  padding: 10px 0;
}

.nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-item{
  margin-left: 55px;
  position: relative;
  z-index: 1;
}
.nav-item::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -20px;
  width: 15px;
  height: 15px;
  background-image: url(../images/icon-arrow-dark.svg);
  background-repeat: no-repeat;
}
.nav-item:hover::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: -15px;
  width: 15px;
  height: 15px;
  background-image: url(../images/icon-arrow-light.svg);
  transform: rotate(180deg);
  background-repeat: no-repeat;
}
.site-header__link{
  margin-left: auto;
}
.nav-link{
  text-decoration: none;
  color: var(--White-text);
  padding: 20px 0;
  
}
  .nav-link:hover{
    text-decoration: underline;
  }
/*DROPDOWN*/

.dropdown{
  position: absolute;
  top: 150%;
  left: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 5;
  background-color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: 8px 0;
  transform: translate(-50%);
  box-shadow:0 0 2px rgb(0,0,0,0.7);
  display: none;
}
.nav-item:hover .dropdown{
  display: block;
} 
.dropdown-link{
  text-decoration: none;
  color: var(--Very-dark-blue);
}
.dropdown-item{
  padding: 8px 16px;
}

.dropdown-link:hover{
  color: var(--Light-red);
}

.logo{
  display: block;
  margin-right: 20px;
}
.login-link{
  text-decoration: none;
  color: var(--White-text);
  margin-right: 20px;
}
.login-link:hover{
  color: var(--Very-light);
}
.sign-link{
  background-color: #fff;
  color: var(--Light-red);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 18px;
}
.sign-link:hover{
  background-color:var(--Very-light);
  color: var(--White-text);
}
/*HEADER-MAIN*/
.header-main__container{
  text-align: center;
  color: var(--White-text);
  padding-bottom: 100px;
}
.header-title{
 font-size: 48px;
 font-weight: 700;
 margin-bottom: 0;
 margin-top: 70px;
}
.header-text{
  color: #eee;
  margin-top: 5px;
  margin-bottom: 45px;
}
.learn-btn{
  background-color:var(--Very-light);
  color: var(--White-text);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 18px;
}
.learn-btn:hover{
  background-color: #fff;
  color: var(--Light-red);
}