/*CUSTOM PROPERTIES*/
:root{
    /*Site Colors*/
   --Light-red:#ff525d;
   --Very-light: #ff7a85;
   --Very-dark-blue: #1f3f5b;
    --White-text: #ffffff;
    --Grayish-blue-footer-text: #c8c8cb;
    --Very-dark-grayish-blue: #4b5862;
    --Very-dark-black-blue: #25252d;
    /* GRADIENTS*/
    --Very-dark-gray-blue: #2c2d3f;
    --Very-dark-desaturated-blue: #3f4164;

}

/*WEB FONTS RELATED*/

@font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/overpass-v5-latin-300.eot'),
         url('../fonts/overpass-v5-latin-300.eot?#iefix') format('embedded-opentype'),
         url('../fonts/overpass-v5-latin-300.woff2') format('woff2'), 
         url('../fonts/overpass-v5-latin-300.woff') format('woff'), 
         url('../fonts/overpass-v5-latin-300.ttf') format('truetype'), 
         url('../fonts/overpass-v5-latin-300.svg#Overpass') format('svg'); 
  }
  
  @font-face {
    font-family: 'Overpass';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/overpass-v5-latin-600.eot'),
         url('../fonts/overpass-v5-latin-600.eot?#iefix') format('embedded-opentype'),
         url('../fonts/overpass-v5-latin-600.woff2') format('woff2'), 
         url('../fonts/overpass-v5-latin-600.woff') format('woff'), 
         url('../fonts/overpass-v5-latin-600.ttf') format('truetype'), 
         url('../fonts/overpass-v5-latin-600.svg#Overpass') format('svg'); 
  }
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/ubuntu-v15-latin-regular.eot'),
         url('../fonts/ubuntu-v15-latin-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-v15-latin-regular.woff2') format('woff2'), 
         url('../fonts/ubuntu-v15-latin-regular.woff') format('woff'), 
         url('../fonts/ubuntu-v15-latin-regular.ttf') format('truetype'), 
         url('../fonts/ubuntu-v15-latin-regular.svg#Ubuntu') format('svg'); 
  }
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/ubuntu-v15-latin-500.eot'),
         url('../fonts/ubuntu-v15-latin-500.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-v15-latin-500.woff2') format('woff2'), 
         url('../fonts/ubuntu-v15-latin-500.woff') format('woff'), 
         url('../fonts/ubuntu-v15-latin-500.ttf') format('truetype'), 
         url('../fonts/ubuntu-v15-latin-500.svg#Ubuntu') format('svg'); 
  }
  @font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/ubuntu-v15-latin-700.eot'),
         url('../fonts/ubuntu-v15-latin-700.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ubuntu-v15-latin-700.woff2') format('woff2'), 
         url('../fonts/ubuntu-v15-latin-700.woff') format('woff'), 
         url('../fonts/ubuntu-v15-latin-700.ttf') format('truetype'), 
         url('../fonts/ubuntu-v15-latin-700.svg#Ubuntu') format('svg'); 
  }

/*GLOBAL STYLES*/
html{
    box-sizing: border-box;
}

*,
*::before,
*::after{
    box-sizing: inherit;
}

body{
    font-family:"Ubuntu","Arial",sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-color: #fff;
    color:var(--Very-dark-black-blue);
    overflow-x: hidden;
}
.container{
  max-width: 1240px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  
}
/*PAGE-HEADER*/
.site-header-wrapper{
   background:url("../images/bg-pattern-intro.svg"),
              linear-gradient(135deg, #FF8F71 0%, #FF3E55 100%);
   background-repeat: no-repeat;
   border-radius: 0px 0px 0px 100px;
   background-position:30% center;
}
.page-header__container{
  display: flex;
  align-items: center;
  padding: 59px 0 119px;
}

.nav-list{
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-item{
  margin-left: 32px;
  position: relative;
  z-index: 1;
}
.nav-item::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 10px;
  right: -20px;
  width: 15px;
  height: 15px;
  background-image: url(../images/icon-arrow-light.svg);
  background-repeat: no-repeat;
  opacity: 0.75;
}
.nav-item:hover::after{
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  right: -15px;
  width: 15px;
  height: 15px;
  background-image: url(../images/icon-arrow-light.svg);
  transform: rotate(180deg);
  background-repeat: no-repeat;
  opacity: 1;
}
.site-header__link{
  margin-left: auto;
}
.nav-link{
  text-decoration: none;
  color: var(--White-text);
  padding: 20px 0;
  opacity: 0.75;
  
}
  .nav-item:hover{
    text-decoration: underline;
    opacity:1;
  }

/*DROPDOWN*/

.dropdown{
  width: 168px;
  position: absolute;
  top: 150%;
  left: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
  z-index: 5;
  background-color: #fff;
  border-radius: 5px;
  padding: 24px;
  transform: translate(-30%);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.243444);
  display: none;
}
.nav-item:hover .dropdown{
  display: block;
} 
.dropdown-link{
  text-decoration: none;
  font-family: "Ubuntu","Arial",sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 33px;
  color: #2D2E40;
}
.dropdown-link:hover{
  color: var(--Light-red);
  font-weight: 900;
  font-size: 15px;
  line-height: 33px;
  color: #2D2E40;
}

.logo{
  display: block;
  margin-right: 32px;
}
.login-link{
  text-decoration: none;
  color: var(--White-text);
  margin-right: 32px;
  opacity: 0.75;
}
.login-link:hover{
  opacity: 1;
}
.sign-link{
  display: inline-block;
  background-color: #fff;
  color: var(--Light-red);
  text-decoration: none;
  padding: 15px 40px;
  border-radius: 28px;
}
.sign-link:hover{
  background-color:var(--Very-light);
  color: var(--White-text);
}
/*HEADER-MAIN*/
.header-main__container{
  text-align: center;
  color: var(--White-text);
  padding-bottom: 155px;
}
.header-title{
 font-weight: 600;
 margin:0;
 margin-bottom: 5px;
 font-family: "Overpass","Arial",sans-serif;
 font-size: 64px;
 line-height: 98px;
 letter-spacing: -1.92px;
 color: #FFFFFF;
}
.header-text{
  color: #eee;
  margin: 0;
  margin-bottom: 43px;
}
.start-btn{
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  padding: 15px;
}
.learn-btn{
  background-color:var(--Very-light);
  color: var(--White-text);
  text-decoration: none;
  padding: 15px 25px;
  font-weight: bold;
  font-size: 16px;
  line-height: 18px;
  text-align: right;
  border-radius: 28px;
}
.learn-btn:hover{
  background-color: #fff;
  color: var(--Light-red);
}
/*MAIN*/
.main-container{
  padding-top: 150px;
}
.about-design{
  display: flex;
  position: relative;
  color: var(--Very-dark-blue);
  margin-bottom: 123px;
}
.main-title{
  text-align: center;
  margin: 0;
  margin-bottom: 93px;
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  text-align: center;
  letter-spacing: -1.2px;
  color: var(--Very-dark-blue);
}
.about-design img{
  position: absolute;
  top: -210px;
  right: -380px;
  
}
.wrapper{
  width: 500px;
  margin-right: 50px;
}
.about-design__title{
  font-weight: 600;
  margin: 0;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 28px;
}
.about-design__text{
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color:var(--Very-dark-grayish-blue);
  margin: 0;
  margin-bottom: 100px;
}
/*STATE SECTION*/
.state-section__container{
  width: 1400px;
  padding: 111px 165px;
  background: url("../images/bg-pattern-circles.svg"),
             linear-gradient(135deg, #2D2E40 0%, #3F4164 100%);
  background-repeat: no-repeat;
  background-position: -70% 82%;
  border-radius: 0px 100px;
  margin:0 auto;
  display: flex;
  margin-top: 50px;
  margin-bottom: 116px;
  position: relative;
  
}
.state-section__container img{
  position: absolute;
  top: -35px;
  left: 80px;
  display: block;
}
.state-wrapper{
  margin-left: 555px;
  width: 540px;
  font-family: "Overpass","Arial",sans-serif;
  color: var(--White-text);
}
.state-title{
  font-weight: 600;
  font-size: 40px;
  line-height: 61px;
  letter-spacing: -1.2px;
  margin: 0;
  margin-bottom: 5px;
}
.state-text{
  margin: 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
}
/*INFO SECTION*/
.info-design{
  display: flex;
  font-family: "Overpass","Arial",sans-serif;
  align-items: center;
  margin-bottom: 123px;
}
.info-design img{
  margin-left: -390px;
  margin-right: 50px;

}
.info-design__title{
  font-weight: 600;
  margin: 0;
  margin-bottom: 16px;
  font-size: 28px;
  line-height: 28px;
  color: #1F3E5A;
}
.info-design__text{
  margin: 0;
  margin-bottom: 64px;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.5px;
}
/*FOOTER*/
.site-footer{
  background: #24242C;
  border-radius: 0px 100px 0px 0px;
  color: var(--White-text);
  padding: 70px 0;
}
.site-footer__container{
  display: flex;
  align-items: flex-start;
}
.site-footer__container img{
  margin-right: 184px;
}
.footer-list{
  margin: 0;
  padding: 0;
  list-style-type: none;  
}
.footer-title{
  margin-top: 0;
  margin-right: 229px;
  font-weight: 500;
  font-size: 15px;
  line-height: 33px;
}
.footer-link{
  color: var(--White-text);
  text-decoration: none;
  font-weight: normal;
  font-size: 15px;
  line-height: 33px;
  color: #FFFFFF;
  mix-blend-mode: normal;
  opacity: 0.75;
}
.footer-link:hover{
   text-decoration: underline;
   opacity: 1;
}

